.title {
  font-size: 60px;
}

#base {
  background-color: rgb(224, 224, 224);
  font-style: initial;
  cursor: unset;
}

#app {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 80vw;
  margin: auto;
}

.row {
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  height: 10vh;
  border-top: 1px solid black;
  /* border-left: 1px solid black; */
}
.row:last-child {
  border-bottom: 1px solid black;
}

.row.row-even {
  border-bottom: 2px solid black;
}
.row.row-even-2 {
  border-top: 2px solid black;
}
.col {
  display: flex;
  width: calc(100% / 9);
  /* border-bottom: 1px solid black; */
  border-left: 1px solid black;
  font-size: 1.5em;
  margin: 1px;
}
.col:last-child {
  border-right: 1px solid black;
}

.col.col-even {
  border-right: 2px solid black;
}

.col.col-even-2 {
  border-left: 2px solid black;
}

#touchpad {
  padding: 10px;
  height: 50px;
  border: 1px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  height: 58.5vh;
  /* width: 8vh; */
  margin: 0;
}
.cell {
  border: 1px solid black;
  margin-bottom: 5px;
  width: 100%;
  height: 50px;
  font-size: 2em;
}
.cell-number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-number:hover {
  cursor: pointer;
  background-color: gold;
}

.active {
  background-color: rgb(177, 248, 183);
  cursor: pointer;
}

.row .col {
  cursor: pointer;
}

.row .col:hover {
  background: rgb(189, 165, 165);
}
.hidden {
  visibility: hidden;
}


.wrong {
  color: rgb(255, 0, 0);
}

/* #undoBtn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: absolute;
  top: 73vh;
  right: 2vw;
} */


#drafts {
  border: 1px solid blue;
  top: 36vh;
  left: 0vh;
  width: 6%;
  height: 60%;
  margin: 10px;
  padding: 12px;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.draft-num {
  font-size: 3em;
  display: flex;
  justify-content: center;
  justify-content: center;
  text-align: center;
  border: 1px solid green;
}
.container {
  display: flex;
  flex-direction: row;
}
.left-menu,
.right-menu {
  display: flex;
  width: 10vw;
  flex-direction: column;
}

.btn {
  display: inline-block;
  padding: 15px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 7px;
  box-shadow: 0 9px #999;  
  margin: 5px;
  min-width: 80px;
}
.btn:hover {
  background-color: #3e8e41;
}
.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.timer {
  width: 80px;
  height: 40px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  background-image: url(./backGround.jpg);
  background-size: cover;
  background-attachment: scroll;
  color: white;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000085;
  z-index: 10;
}
.modal {
  z-index: 11;
  width: 50%;
  height: 50%;
  background: white;
  margin: auto;
  position: fixed;
  left: calc(50% - 25vw);
  top: calc(50% - 25vh);
}